@media (min-width: 279px) and (max-width: 319px){
 /*code-start*/
.navbar{
    width: 78%;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 13px;
    border-radius: 5px;
    background: #57aae1;
    color: #fff;
}
/*code-end*/
}



@media (min-width: 320px) and (max-width: 480px){
 /*code-start*/


#myBtn {
    display: none;
    position: fixed;
    bottom: 51px;
    right: 167px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 13px;
    border-radius: 5px;
    background: #57aae1;
    color: #fff;
}
 /*code-end*/
}



@media (min-width: 481px) and (max-width: 767px){
 /*code-start*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 13px;
    border-radius: 5px;
    background: #57aae1;
    color: #fff;
}
 /*code-end*/
}




@media (min-width: 768px) and (max-width: 1024px){
 /*code-start*/
 .header-section .header-banner .bnr-img {
    width: 100%;
    margin: 0px 0px 0px 21px;
}
  #myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 90px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 13px;
    border-radius: 5px;
    background: #57aae1;
    color: #fff;
}
 /*code-end*/
}